.tntVideoList{}
.tntVideoList .dpn{display: none;}
.tntVideoList .dpb{display: block;}
.tntVideoItem{float: left; /*margin-left: 20px;*/ margin-bottom: 10px;}
.tntVideoItem.noML{margin-left:0;}
.tntVideoItem a.videoLink{display: block;}
.tntVideoSingle h3, .tntVideoItem h3{width: 100%; font-size: 14px; font-weight:bold; font-family: Arial; line-height: 17px; text-transform: none; margin-bottom: 5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}  
.tntClear{clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.tntVideoSingle{}
#cboxTitle{text-overflow: ellipsis; white-space: nowrap;}
.clear{clear:both;}
.pagiWrap{position: relative; left: -50%; float:right;}
.pagiWrap .pagination{position:relative; left: 50%;}
.pagiWrap .pagination a, .pagiWrap .pagination span{display: block;  margin: 0 2px; float: left; width: 20px; height: 20px; text-align: center; line-height: 20px; color: #000; -moz-border-radius: 3px; border-radius: 3px; -webkit-border-radius: 3px; }
.pagiWrap .pagination a:hover{background: #333; color: #fff; text-decoration: none}
.pagiWrap .pagination span.current{background: black; color: #fff;}
.pagiWrap .pagination span.disabled{background: none; color: #aaa;}
.pagiWrap .pagination a.next{}

.tntVideoSocialShare{float: right; margin-top: 5px;}
.tntVideoSocialShare h4{float: left; font-size: 14px; margin-top: 0 !important;}
.tntVideoSocialShare ul{float:left; margin:0; padding:0;}
.tntVideoSocialShare ul li{float: left; margin-left: 5px;}

.tntVideoSocialShare .tntSocialShareTitle32{height: 32px; line-height: 32px}
.tntVideoSocialShare .tntIcon32{width: 32px; height: 32px; display:block; background: url(../images/social-icon.png) no-repeat; text-indent: -9999px;}
.tntVideoSocialShare .tntFIcon32{background-position: 0 0;}
.tntVideoSocialShare .tntTIcon32{background-position: -96px 0;}
.tntVideoSocialShare .tntGIcon32{background-position: -32px 0;}
.tntVideoSocialShare .tntPIcon32{background-position: -64px 0;}

.tntVideoSocialShare .tntSocialShareTitle24{height: 24px; line-height: 24px}
.tntVideoSocialShare .tntIcon24{width: 24px; height: 24px; display:block; background: url(../images/social-icon.png) no-repeat; text-indent: -9999px; background-size: 96px 24px;}
.tntVideoSocialShare .tntFIcon24{background-position: 0 0;}
.tntVideoSocialShare .tntTIcon24{background-position: -72px 0;}
.tntVideoSocialShare .tntGIcon24{background-position: -24px 0;}
.tntVideoSocialShare .tntPIcon24{background-position: -48px 0;}

#cboxLoadedContent iframe{margin-bottom:0;}